.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.product-image {
    background: #ddd;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 125px;
}

.product-info {
    padding: 2rem 0;
    text-align: center;
    height: 110px;
}

    .product-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }

    .product-price {
        font-size: 1.25rem;
        font-style: italic;
        margin-bottom: 1rem;
    }

    .item-counter {
        justify-content: center;
    }

@media only screen and (max-width: 700px) {
    .product-image {
        width: 300px;
        height: 150px;
        margin: 0 auto;
    }
}