
.cart-item {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    font-size: 1.1rem;
    gap: 2rem;
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: none;
    width: 5.5rem;
    height: 4rem;
}

.cart-item-info {
    width: 100%;
}

    .numbers {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .item-counter {
        margin: .5rem 0;
        font-size: .9rem;
    }

    button.add-subtract {
        margin: 0;
    }

    .sub-total {
        font-size: 1.1rem;
        color: black;
    }

.remove {
    background: #f1f1f1;
    border-radius: .15rem;
    font-size: .75rem;
    padding: .25rem;
    cursor: pointer;
}

    .remove:hover {
        background-color:rgb(255, 37, 66);
        color: white;
    }