.item-counter {
    display: flex;
    align-items: center;
}

.add-subtract {
    font-size: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    cursor: pointer;
}

.add-subtract:hover {
    color: white;
    background:rgb(255, 37, 66);
}

.number {
    text-align: center;
    width: 1.5rem;
}