section:first-child {
    background-color: #f3f3f3;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    color: black;
    text-align: center;
}

.hero-text h3 {
    margin-top: -1rem;
}

.hero-image {
    background: url("https://images.unsplash.com/photo-1558312657-b2dead03d494?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 500px;
    margin: 2rem auto 0 auto;
}

.customer-reviews {
    background-color: #f3f3f3;
}

.review-area {
    background: white;
    padding: 3rem;
    max-width: 800px;
    margin: 0 auto;

}

.review {
    margin: 0 auto;
    border-top: 1px solid rgb(176, 176, 176);
    padding: 2rem 0 1rem 0;
}

.bi-star-fill, .bi-star-half {
    color:rgb(255, 37, 66);
}