.navbar {
    position: fixed;
    top: 0px;
    width: 100vw;
    box-shadow: 0px 0px 5px #ddd;
}

.promo-bar {
    background: black;
    color: rgb(255, 255, 255);
    font-size: .85rem;
    letter-spacing: .05rem;
    padding: .75rem 0 .75rem 3.25rem;
}

.brand {
    font-family: 'Satisfy', serif;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    padding: 1rem 0;
    margin: 0;
}

.nav-item {
    list-style: none;
    margin-right: 3rem;
    transition: all 150ms ease-in;
    font-size: 1.15rem;
}

.nav-item a{
    text-decoration: none;
    color: black;
    transition: all 150ms ease-in;
}

.nav-item a:hover {
    color: rgb(255, 37, 66);
    cursor: pointer;
}

.nav-item:first-child {
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: 3rem;
}

.nav-item:first-child i {
    color: rgb(255, 37, 66);
}

.nav-item:first-child a:hover {
    color: black;
}

.nav-item:last-child a {
    background: #ddd;
    padding: .5rem;
    border-radius: 2rem;
    margin-left: -.5rem;
}

.nav-item:last-child a:hover {
    background: black;
    border-radius: 2rem;
    color: white;
}

.cart-counter {
    font-size: .6rem;
    color: white;
    background:rgb(255, 37, 66);
    width: .75rem;
    height: .75rem;
    padding: .3rem;
    border-radius: 1rem;
    text-align: center;
    position:absolute;
    margin-top: -1rem;
    margin-left: 1rem;
}
