@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body, html {
  margin: 3.25rem 0 0 0;
  box-sizing: border-box;
  font-family: 'Chivo', sans-serif;
  height: 100%;
}

h1 {
  font-family: 'Satisfy', serif;
  font-size: 6rem;
  font-weight: 600;
  margin: -2rem 0 0 0;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

h4 {
  font-size: 1.15rem;
}

p {
  line-height: 1.25rem;
  letter-spacing: .025rem;
  font-size: .95rem;
}

section {
  display: flex;
  flex-direction: column;
  padding:  6rem 3rem;
}

.small-button {
  border: none;
  padding: .4rem .5rem;
  border-radius: .25rem;
  cursor: pointer;
  margin-top: 1rem;

}

.small-button:hover {
  background-color: rgb(255, 37, 66);
  color: white;
}

.large-button {
  background-color: rgb(255, 37, 66);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: .75rem 1.5rem;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
}

.large-button:hover {
  background-color: black;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

@media only screen and (max-width: 1200px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    line-height: 5rem;
    margin: 1rem auto 2rem auto;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}